.window-peek{
    background-image: url("../../images/window.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 450px;
    max-width:100vW;
    }