.bg-blue {
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
}

.main-wrapper {
  width: 100vw;
  height: 100vh;
}

.main-image-wrapper {
  width: 50%;
  height: 100%;
}

.main-intro {
  width: 50%;
  max-height: 100%;
  font-size: 26px;
  font-weight: 500;
}

.profile-icon {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: top center;
  border-radius: 50%;
  z-index: 1;
  position: relative;
}

.gradient-border {
  --border-width: 3px;
  position: absolute;
  width: 407px;
  height: 407px;
  border-radius: 50%;

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      450deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * 50%);
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

@media all and (max-width: 1024px) {
  .profile-icon {
    width: 350px;
    height: 350px;
  }
  .gradient-border {
    width: 354.5px;
    height: 354.5px;
  }
  .main-intro {
    font-size: 20px;
  }
}
@media all and (max-width: 961px) {
  .profile-icon {
    width: 275px;
    height: 275px;
  }
  .gradient-border {
    width: 279.5px;
    height: 279.5px;
  }
  .main-intro {
    font-size: 20px;
  }
}
@media all and (max-width: 768px) {
  .profile-icon {
    width: 225px;
    height: 225px;
  }
  .gradient-border {
    width: 229.5px;
    height: 229.5px;
  }
  .main-intro {
    font-size: 19px;
  }
}
@media all and (max-width:641px) {
  .main-wrapper {
    flex-wrap: wrap;
  }
  .main-image-wrapper{
    width:100%;
    height: 30vh;
  }
  .profile-icon {
    width: 200px;
    height: 200px;
  }
  .gradient-border {
    width: 204.5px;
    height: 204.5px;
  }
  .main-intro {
    width: 100%;
    max-height:70vh;
    font-size: 16.5px;
    text-align: left;
  }
}
