.tools-bg {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}

.tools {
  font-size: 25px;
  padding: 35px 50px 10px;
  font-weight: 600;
}
.exp {
  font-size: 17px;
  padding: 20px 50px;
  font-weight: 600;
}
.footer {
  padding: 8px;
  justify-content: flex-end;
  align-items: center;
  color: rgb(129, 66, 72);
  font-size: 25px;
  font-family: "Fasthand", cursive;
}

@media all and (max-width: 1024px) {
  .tools {
    font-size: 20px;
  }
  .exp {
    font-size: 15px;
  }
}
@media all and (max-width: 768px) {
  .tools {
    font-size: 17px;
  }
  .exp {
    font-size: 13px;
  }
  .footer {
    font-size: 20px;
  }
}
@media all and (max-width: 641px) {
  .tools {
    font-size: 15px;
  }
  .exp {
    font-size: 12px;
  }
  .footer {
    font-size: 18px;
  }
}
